* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  html,
  body,
  .page {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  .page {
    display: none;
    flex-direction: column;
    position: relative;
  }
  .page.shown {
    display: flex;
  }
  /* global */
  button {
    padding: 10px 20px;
    border: none;
    font-size: 1.2rem;
    border-radius: 10px;
  }
  button i {
    margin-right: 5px;
  }
  button.primary {
    background-color: black;
    color: white;
  }
  button.secondary {
    background-color: #ccc;
  }
  button.big-bottom-button {
    border-radius: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
  }
  button.link-button {
    background: none;
    color: black;
    flex: 1;
    padding: 20px;
    border-radius: 0;
    font-size: 0.9rem;
  }
  button.link-button:first-of-type {
    border-right: 1px solid #ccc;
  }
  /* tooltip */
  .tooltip-container {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 100010101001;
    pointer-events: none;
  }
  .tooltip {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 8px 12px;
    border-radius: 15px 10px;
    pointer-events: none;
    opacity: 0;
    transition: all 200ms ease;
    max-width: 375px;
  }
  .tooltip.shown {
    opacity: 1;
  }
  /* modal */
  .modal-container {
    display: none;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 100000;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .modal-container.shown {
    display: flex;
    pointer-events: all;
  }
  .modal-container .modal {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    width: 75%;
  }
  .modal-container .modal .modal-header {
    border-bottom: 1px solid #ccc;
    padding: 16px;
  }
  .modal-container .modal .modal-header span {
    font-weight: 500;
  }
  .modal-container .modal .modal-body {
    padding: 16px 24px;
  }
  .modal-container .modal button {
    padding: 15px;
  }
  /* home page */
  .home {
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  .settings {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    font-size: 1.5rem;
  }
  .title {
    font-size: 1.1rem;
    font-weight: bold;
    font-style: italic;
    padding-top: 20px;
  }
  .generator {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .generator .name {
    font-weight: 500;
    font-size: 1.05rem;
  }
  .generator .id {
    font-size: 0.9rem;
    opacity: 0.5;
  }
  .generator .outfit {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid grey;
    border-radius: 20px;
    overflow: hidden;
    background-color: #ccc;
    gap: 1px;
  }
  .generator .outfit div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    background-color: white;
  }
  .generator .outfit div.border-top {
    border-top: 1px solid #ccc;
  }
  .generator .outfit div.border-left {
    border-left: 1px solid #ccc;
  }
  .generator .outfit div.border-right {
    border-right: 1px solid #ccc;
  }
  .generator .outfit div.border-bottom {
    border-bottom: 1px solid #ccc;
  }
  .generator .outfit div img {
    width: 40px;
    height: 40px;
    margin: 20px 0;
  }
  .generator .outfit div span {
    text-align: center;
  }
  .links {
    width: 100%;
  }
  .links .row {
    display: flex;
    border-top: 1px solid #ccc;
  }
  /* wardrobes list page */
  .headerbar {
    z-index: 100;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid grey;
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
  }
  .headerbar .close {
    background: none;
    font-size: 20px;
    padding: 20px;
    aspect-ratio: 1;
  }
  .headerbar span {
    font-size: 1.1rem;
    font-weight: bold;
    font-style: italic;
  }
  .wardrobe-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    margin: 10px auto;
    flex: 1;
  }
  .wardrobe-list .wardrobe {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .wardrobe-list .wardrobe label {
    flex-grow: 1;
  }
  .wardrobe-list .wardrobe button {
    background: none;
  }
  .wardrobe-list .wardrobe button.delete {
    color: #ff7373;
  }
  .wardrobe-list .wardrobe button.edit {
    color: #47abfd;
  }
  .wardrobe-list.placeholder {
    justify-content: center;
    align-items: center;
  }
  /* create screen */
  .cpage {
    flex: 1;
    display: none;
    flex-direction: column;
  }
  .cpage.shown {
    display: flex;
  }
  .cpage.name-cpage {
    justify-content: space-evenly;
    align-items: center;
  }
  .cpage.name-cpage div {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 20px;
  }
  .cpage.name-cpage div b {
    font-size: 1.05rem;
  }
  .cpage.name-cpage div span {
    font-size: 0.8rem;
    opacity: 0.8;
  }
  .cpage.name-cpage div input {
    font-size: 16pt;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
  }
  .cpage.name-cpage div .error {
    color: red;
  }
  .cpage.name-cpage span {
    opacity: 0;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    font-size: 1px;
  }
  .cpage.clothes-cpage {
    gap: 20px;
    padding: 20px;
  }
  .cpage.clothes-cpage .subhead {
    font-size: 1.3rem;
  }
  .cpage.clothes-cpage .subhead b {
    font-weight: 500;
  }
  .cpage.clothes-cpage .clothes-list .clothesListItem {
    margin-bottom: 5px;
  }
  /* add clothes page */
  .add-clothes {
    justify-content: space-between;
    align-items: center;
  }
  .add-clothes .name-box {
    font-size: 16pt;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
  }
  .add-clothes .button-grid {
    display: grid;
    width: 210px;
    gap: 10px;
    aspect-ratio: 1;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .add-clothes .input-box {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 20px;
  }
  .add-clothes .input-box b {
    font-size: 1.05rem;
  }
  .add-clothes .input-box span {
    font-size: 0.8rem;
    opacity: 0.8;
  }
  .add-clothes .input-box input {
    font-size: 16pt;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
  }
  .add-clothes .input-box .error {
    color: red;
  }
  /* settings page */
  .settings-page .settings-button {
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0;
    padding: 20px;
  }
  .settings-page .settings-info {
    margin: 20px;
    margin-bottom: 0;
    opacity: 0.5;
    font-size: 0.75rem;
  }
  .settings-page .settings-info b {
    font-weight: 500;
  }
  .settings-page .settings-info a {
    color: black;
  }
  #settings-info {
    margin-bottom: 20px;
  }
  